:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: rgba(255, 255, 255, 0.6);
  --second-text-color: #757575;
  --third-text-color: #212121;
  --fourth-text-color: #757575;
  --header-text-color: #212121;
  --accent-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
body {
  font-family: roboto, sans-serif;
  margin: 0px;
}
.photo-list {
  list-style: none;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ---------------------------------------------- HEADER ------------------------------- */
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}
.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.links{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}
/* --------------------------------- HERO -------------------------- */

.hero-button:active {
  color: var(--accent-color);
}

.effect-color {
  background-color: #2f303a;
}
.hero-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
}
.hero-button {
  margin: 0 auto;
  margin-top: 30px;
}
.effect-color {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  color: #ffffff;
  display: block;
}
.h3-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.72;
  text-transform: uppercase;
  color: var(--third-text-color);
  font-family: Roboto;
}
.h1-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}
.p-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  color: var(--second-text-color);
}
.hang-container {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.first-childs {
  margin-right: 30px;
}
.hang {
  padding-top: 94px;
  padding-bottom: 94px;
}
.h3-list {
  /* margin-right: 30;

  margin-top: 94px; */
  margin-bottom: 10px;
}
.first {
  margin-left: 215px;
}
.last {
  margin-right: 215px;
}
.hang {
  background-color: #ffffff;
}
.hero-container {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.how-section{
  padding-bottom: 200px;
  padding-top: 200px;
    background-color: #2F303A;
}
.container-how-effects{
  width: 696px;
  margin-left: 252px;
  margin-right: 252px;
}

/* ------------------------ ABOUT --------------------------------- */
.our-occupation {
  background-color: #ffffff;
}
.about-container {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.about-the-list {
  display: flex;
  text-align: center;
  margin-left: 80px;
  margin-right: 65px;
}
.about {
  padding-top: 0px;
  padding-bottom: 94px;
}
.img1 {
  margin-right: 30px;
}
.img2 {
  margin-right: 30px;
}
.about-as {
  height: 42px;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.about-as {
  text-align: center;
  margin-bottom: 50px;
}
.about-team {
  margin-right: 30px;
  background-color: #f5f4fa;
}
.about-the-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.container-about-the-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.container-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.about-the-list {
  font-weight: bold;
  font-size: 1.16;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-left: 15px;
  margin-right: 15px;
}
.we-are-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: var(--third-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.about-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}

.about-proffesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  text-align: center;
}
.about-navigation {
  background-color: #2f303a;
}
.mail2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.tel2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.nav-tel {
  font-weight: normal;
  font-size: 1.71;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.nav-mail {
  font-weight: normal;
  font-size: 1.71;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.nav-geo {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.header-navigation {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.about-team-list {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
.about-name {
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
/* ------------------------------------- FOOTER ----------------------------- !!!!!!!!!!!!!!!! */
.about-navigation {
  padding-left: 15px;
}
.footer-logo {
  margin-bottom: 20px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* !!!!!!!!!!!!!!! ---------------------- PORTFOLIO -------------------------- !!!!!!!!!!!!!!!! */
.about-navigation1 {
  background-color: #2f303a;
}

/* !!!!!!!!!!!!! BUTTONs !!!!!!!!!!!!! */
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.b-list:active {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/* !!!!!!!!!!!!! PHOTOS !!!!!!!!!!!!! */
.photo1 {
  width: 370px;
  height: 294px;
}
.photo2 {
  width: 370px;
  height: 294px;
}
.photo3 {
  width: 370px;
  height: 294px;
}
.photo4 {
  width: 370px;
  height: 294px;
}
.photo5 {
  width: 370px;
  height: 294px;
}
.photo6 {
  width: 370px;
  height: 294px;
}
.photo7 {
  width: 370px;
  height: 294px;
}
.photo8 {
  width: 370px;
  height: 294px;
}
.photo9 {
  width: 370px;
  height: 294px;
}

.nick {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  color: var(--third-text-color);
}
.idea {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

/* ======================================================================== */
.header-logo {
  margin-left: auto;
  margin-right: 93px;
}

.header-list {
  display: flex;
  margin-right: auto;
  padding-top: 0;
}
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-item {
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-item:last-child {
  margin-right: 0px;
}
.nav-contacts{
  display: flex;
}
.cont1{
  margin-right: 50px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: clip: rect(0 0 0 0);
    overflow: hidden;
  }
.container{
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-list{
  display: flex;
}
.fitchers-list:not(:last-child){
  margin-right: 30px;
}
.img{
  display: block;
  max-width: 100%;
  height: auto;
}
.about-list:not(:last-child){
  margin-right: 30px;
}
.about-team-section{
padding-top: 94px;
padding-bottom: 94px;
background-color: #F5F4FA;
}
.container1{
   width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.np-item{
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container2{
    padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}
.about-team{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.about-name{
  margin-bottom: 10px;
}
.container3{
      padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}
.container4{
      padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}